[credential]
	helper = cache
[user]
	email = 32916033+ericlunadev@users.noreply.github.com
	name = Eric Luna

[core]
	pager = less -F -X

[includeIf "gitdir:~/Coding/agile-defense/"]
    path = ~/Coding/agile-defense/.gitconfig-agile
